<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= map_api.KAKAO_JAVASCRIPT_KEY %>"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <a href="/spot/select">장소 지정하기</a>
    <div id="map" style="width: 100%; height: 500px"></div>
    <div id="clickLatlng"></div>
  </body>
  <script>
    var mapContainer = document.getElementById("map"), // 지도를 표시할 div
      mapOption = {
        center: new kakao.maps.LatLng(
          "<%= map_api.default.lat %>",
          "<%= map_api.default.lng %>"
        ), // 지도의 중심좌표
        level: 9, // 지도의 확대 레벨
      };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    axios
      .get("/spot/find")
      .then(function (response) {
        var dom = document.querySelector("#clickLatlng");
        var spots = response.data;
        var html;
        var positions = [];

        if (spots) {
          html = "<table>";
          for (i in spots) {
            positions.push({
              title: spots[i].name,
              latlng: new kakao.maps.LatLng(
                spots[i].geo.coordinates[0],
                spots[i].geo.coordinates[1]
              ),
            });
            html += `<tr>
              <td>${spots[i].name}</td>
              <td>${spots[i].address}</td>
              <td><a href="/spot/delete/${spots[i].id}" onclick="return confirm('삭제하시겠습니까?')">삭제</a></td>
              </tr>`;
          }
          html += "</table>";
        }
        dom.innerHTML = html;
        console.log(positions);
        setting(positions);
      })
      .catch(function (error) {
        console.log(error);
      });

    function setting(positions) {
      var imageSrc =
        "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

      for (var i = 0; i < positions.length; i++) {
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: positions[i].latlng, // 마커를 표시할 위치
          title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
          image: markerImage, // 마커 이미지
        });
      }
    }
  </script>
</html>
